@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.font-serif {
  font-family: "Playfair Display", serif;
}

body {
  background-color: #111827; /* bg-gray-900 */
}
