---
import { ConvexProvider, ConvexReactClient } from "convex/react";
import Layout from "../layouts/Layout.astro";
import Main from "../components/main";
import LandingPage from "../components/LandingPage";
const convex = new ConvexReactClient(import.meta.env.PUBLIC_CONVEX_URL);
---

<Layout>
    <main class="max-w-7xl mx-auto px-6 lg:px-8 pt-24 pb-32">
      <div class="text-left">
        <h1
          class="text-5xl md:text-6xl max-w-4xl lg:text-6xl font-serif text-gray-900 mb-6 leading-tight"
          style={{ fontFamily: "'Playfair Display', serif" }}
        >
          <span class="text-rotate">
            <span class="justify-items-center">
              <span>Organisierung</span>
              <span>Inspirationen</span>
            </span>
          </span>{" "}
          Für deine Komponenten mit OpenUI
        </h1>
        <p class="text-lg md:text-xl text-gray-600 mb-10 max-w-2xl leading-relaxed">
          Streamline your component development with seamless automation for
          every custom UI, tailored by OpenUI.
        </p>
        <div class="flex flex-col sm:flex-row gap-4 ">
          <button
            class="bg-gray-900 text-white px-8 py-4 rounded-full font-medium hover:bg-gray-800 transition-colors text-sm"
          >
            Start for free
          </button>
        </div>
      </div>
    </main>
</Layout>
